.bg-authentication{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}
@media( width <= 900px) {
    .bg-authentication {
        display: none;
    }
}

/* src/components/ProductCard.css */
.product-card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    margin: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }
  
  .product-image:hover img {
    transform: scale(1.1);
  }
  
  .product-details {
    padding: 16px;
  }
  
  .product-name {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .product-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
    max-height: 3.6em; /* Dos líneas de texto */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .product-description.expanded {
    max-height: none; /* Expandir cuando esté abierto */
  }
  
  .toggle-description-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .toggle-description-button:hover {
    text-decoration: underline;
  }
  
  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .add-to-cart-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: #45a049;
  }


/* dfjsdlfjlskd */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}